.resultados {
    background-color: beige;
    border: 1px solid darkslategray;
    border-radius: 5px;
    color: darkslategray;
    padding: 5px;
}
.resultados:empty {
    display: none;
}
.texto-historial {
    font-size: small;
}